<% layout('/layouts/boilerplate.ejs') %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <br />
    <h3>Edit your listings</h3>

    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          value="<%= listing.title %>"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>

        <textarea
          name="listing[description]"
          class="form-control"
          required
        ><%= listing.description %></textarea>

        <div class="invalid-feedback">
          Please provide a short description.
        </div>
      </div>

      <div class="mb-3">
        Original listing Image <br />
        <img
          src="<%= originalImageUrl %>"
          height="200"
          width="300"
          alt=""
        />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">
          Upload New Image
        </label>

        <input
          name="listing[image]"
          class="form-control"
          type="file"
        />
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>

        <input
          name="listing[price]"
          value="<%= listing.price %>"
          class="form-control"
          type="number"
          required
        />

        <div class="invalid-feedback">
          Price should be a valid number.
        </div>
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>

        <input
          name="listing[country]"
          value="<%= listing.country %>"
          class="form-control"
          type="text"
          required
        />

        <div class="invalid-feedback">
          Country name should be valid
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>

        <input
          name="listing[location]"
          value="<%= listing.location %>"
          class="form-control"
          type="text"
          required
        />

        <div class="invalid-feedback">
          Location should be valid
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Place Type</label>

        <select
          class="form-select"
          name="listing[category]"
          required
        >
          <option
            value="Rooms"
            <%= listing.category === 'Rooms' ? 'selected' : '' %>
          >
            Rooms
          </option>

          <option
            value="Mountain"
            <%= listing.category === 'Mountain' ? 'selected' : '' %>
          >
            Mountain
          </option>

          <option
            value="Pool"
            <%= listing.category === 'Pool' ? 'selected' : '' %>
          >
            Pool
          </option>

          <option
            value="Farms"
            <%= listing.category === 'Farms' ? 'selected' : '' %>
          >
            Farms
          </option>

          <option
            value="Camping"
            <%= listing.category === 'Camping' ? 'selected' : '' %>
          >
            Camping
          </option>

          <option
            value="Castle"
            <%= listing.category === 'Castle' ? 'selected' : '' %>
          >
            Castle
          </option>
        </select>
      </div>

      <button
        type="submit"
        class="btn btn-dark edit-btn mt-3"
      >
        Edit
      </button>
    </form>
  </div>
</div>